html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/*css for part 1 of html */
.part1 {
    background-color: #1f2937;
    padding: 2% 15% 7%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px; 
}

ul a, .info text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    margin-left: auto;
}

.introduction {
    display: flex;
    gap: 60px; 
    align-items: center;
}

.info {
    display: flex; 
    flex-direction: column;
}

text.title {
    font-size: 48px; 
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    max-width: 120px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid royalblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.introduction img {
    border: 2px solid gray;
    border-radius: 8px;
}

/*css for part 2 of html */
.box {
    display: flex;
    flex-flow: column wrap;
    max-width: 150px;
    align-items: center;
}

.part2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2% 15% 7%; 
    gap: 32px; 
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.box img {
    border: 4px solid royalblue;
    border-radius: 8px;
}

.box text {
    color: grey; 
}

.title2 {
    font-size: 36px;
    font-weight: 900;
    color: #152937;
}

/* css for part 3 */
.part3 {
    background-color: #E5E7EB;
    padding: 10% 25% 7%;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;   
    font-family: "Proxima Nova", sans-serif;
    font-weight: 100;
    color: #1F2937;
    

}

.author {
    font-size: 25px;  
    font-weight: 700;
    color: black;
    align-self: flex-end;
}

/* css for part 4 */
.part4 {
    display: flex;
    margin: 5% 10%;
    background-color: #3882F6;
    padding: 3% 10%;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}

.header1 {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.header2 {
    font-size: 20px;
    color: #E5E7EB;
}

.part4 button {
    background-color: #3882F6;
    border: 2px solid white;
    justify-self: flex-end;
    
}

/* css for footer */
.footer {
    background-color: #1f2937;
    padding: 3%;
    text-align: center;
}

.footer text {
    color: #E5E7EB;
    font-size: 20px;
}
